.title {
  width: 100%;
  margin-bottom: 2.5rem;
  font-size: 3rem;
  text-align:justify;
}

.task {
  padding: 4rem 2rem;
  border-radius: 1rem;
  border: 1px solid transparent;
  backdrop-filter: blur(1rem);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-left-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-right-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.task:hover {
  transform: scale(1.05);
}

.inputbox2 textarea {
  width: 100%;
  margin-bottom: 3.5rem;
}

.inputbox2 select {
  width: 100%;
  margin-bottom: 3.5rem;
}

.inputbox2 input {
  width: 100%;
  margin-bottom: 3.5rem;
}

.inputbox2 i {
  position: absolute;
  right: 12%;
  font-size: 1.2em;
  top: 20px;
}
.cardBox {
  width: 30%;
  height: 110vh;
  margin:0 auto;
  position: relative;
  display:grid;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 10px 0px,
    rgba(0, 0, 0, 0.5) 0px 2px 25px 0px;
  align-items: center;
    
}

.card1 {
  position: absolute;
  width: 95%;
  height: 95%;
  background: #000814;
  border-radius: 20px;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
  padding: 20px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.5) 0px 18px 36px -18px inset;
}

.card1 h3{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bold;
  pointer-events: none;
  text-align: center;
}

.text {
  top: 50%;
}

.card1 .content h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin: 0 auto;
}

.card1 .content p {
  font-size: 1.6rem;
  line-height: 25px;
}

.card1.content {
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.card1:hover .content {
  transform: translateY(0);
  opacity: 1;
}

.cardBox::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 150vh;
  background: #40E0D0;
  background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);
  animation: glowing01 5s linear infinite;
  transform-origin: center;
  animation: glowing 5s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
