.emp-dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  overflow: hidden;
}

.card {
  width: 100%;
  max-width: 100%; /* Change width to be responsive */
  margin: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Reduce opacity for less glassy effect */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjust box shadow */
  backdrop-filter: blur(2px); /* Reduce blur for less glassy effect */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
